<h2>Dashboard</h2>
<ul>
    <li>General Products : {{ kpi.products }}</li>
    <li>Total Stock : {{ kpi.total_qty }}</li>
    <li>Average Price : {{ kpi.avg_price }}</li>
</ul>

<h3>Top Categories (Revenue)</h3>
<table border="1" cellpadding="6">
    <tr>
        <th>
            Kategoriya
        </th>
        <th>
            Gelir
        </th>
        <th>
            Mehsul sayi
        </th>
    </tr>

    {% for c in top_cats %}
        <tr>
            <td>
                {{ c.category }}
            </td>

            <td>
                {{ c.revenue }}
            </td>

            <td>
                {{ c.items }}
            </td>

        </tr>
    {% endfor %}

</table>

<p>
    <a href="{% url 'product_list' %}">Products</a>
    <a href="{% url 'product_upload' %}">Upload</a>
    
<!--{#    <a href="{% url 'stats' %}">Statistics</a>#}-->

</p>