<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
.stats-row{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 30px 0;
}

.stats-table table{
    border-collapse: collapse;
}

.stats-table th,
.stats-table td{
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: center;
}

.chart-box{
    width: 600px;
    height: 320px;
}

.chart-box canvas{
    width: 100% !important;
    height: 100% !important;
}
h2{
    text-align: center;
    margin-bottom: 30px;
}
h3{
    text-align: center;
    margin: 30px 0 20px;
    font-size: 22px;
}
</style>
<h2>Statistika</h2>


<h3> 1.Aylıq gəlir</h3>

<div class="stats-row">

    <div class="stats-table">
        <table>
            <tr>
                <th>Ay</th>
                <th>Gəlir</th>
                <th>Items</th>
            </tr>

            {% for r in monthly %}
            <tr>
                <td>{{ r.month|date:"Y-m" }}</td>
                <td>{{ r.revenue }}</td>
                <td>{{ r.items }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="chart-box">
        <canvas id="monthlyChart"></canvas>
    </div>

</div>
<h3>2.Rüb üzrə gəlir</h3>
<div class="stats-row">
    <div class="stats-table">
        <table border="1" cellpadding="6">
            <tr>
                <th>Rüb</th>
                <th>Gəlir</th>
                <th>Orta qiymət</th>
            </tr>
            {% for r in quarterly %}
            <tr>
                <td>Q{{ r.q }}</td>
                <td>{{ r.revenue }}</td>
                <td>{{ r.avg_price }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="chart-box">
        <canvas id="quarterChart"></canvas>
    </div>
</div>

<h3>3.Kateqoriya üzrə</h3>
<div class="stats-row">
    <div class="stats-table">
        <table border="1" cellpadding="6">
            <tr>
                <th>Kateqoriya</th>
                <th>Orta qiymət</th>
                <th>Toplam stok</th>
            </tr>
            {% for r in by_cat %}
            <tr>
                <td>{{ r.category }}</td>
                <td>{{ r.mean_price }}</td>
                <td>{{ r.total_qty }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="chart-box">
        <canvas id="categoryChart"></canvas>
    </div>

</div>
<h3>4.TOP SKU (Gəlir)</h3>
<div class="stats-row">
    <div class="stats-table">
        <table border="1" cellpadding="6">
            <tr>
                <th>SKU</th>
                <th>Ad</th>
                <th>Kateqoriya</th>
                <th>Gəlir</th>
                <th>Stok</th>
            </tr>
            {% for r in top_sku %}
            <tr>
                <td>{{ r.sku }}</td>
                <td>{{ r.name }}</td>
                <td>{{ r.category }}</td>
                <td>{{ r.revenue }}</td>
                <td>{{ r.qty }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
     <div class="chart-box">
        <canvas id="skuChart"></canvas>
    </div>
</div>

<h3>5.Low Stock (≤5)</h3>
<div class="stats-row">
    <div class="stats-table">
        <table border="1" cellpadding="6">
            <tr>
                <th>SKU</th>
                <th>Ad</th>
                <th>Say</th>
            </tr>
            {% for p in low_stock %}
            <tr>
                <td>{{ p.sku }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.quantity }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
     <div class="chart-box">
        <canvas id="stockChart"></canvas>
    </div>
</div>


<p><a href="{% url 'product_list' %}">Məhsullar</a></p>

<script>
// Month
new Chart(document.getElementById('monthlyChart'), {
    type: 'bar',
    data: {
        labels: [
            {% for r in monthly %}
            "{{ r.month|date:'Y-m' }}",
            {% endfor %}
        ],
        datasets: [{
            label: 'Monthly Revenue',
            data: [
                {% for r in monthly %}
                {{ r.revenue }},
                {% endfor %}
            ],
            backgroundColor: 'rgb(54 235 57 / 0.7)',
            borderColor: 'rgb(32 145 0)',
            borderWidth: 2
        }]
    }
});

// Quarter
new Chart(document.getElementById('quarterChart'),{
    type:'line',
    data:{
        labels:[
            {% for r in quarterly  %}
            "{{ r.q }}",
            {% endfor %}
        ],
        datasets:[{
            label:'Quarter  Revenue',
            data:[
                {% for r in quarterly %}
                {{ r.revenue }},
                {% endfor %}
            ],
            backgroundColor: 'rgb(220 32 32 / 0.7)',
            borderColor: 'rgb(110 0 0)',
            borderWidth: 2

        }]
    }
});

//Category

new Chart(document.getElementById('categoryChart'),{
    type:'pie',
    data:{
        labels:[
            {% for r in by_cat %}
            "{{ r.category }}",
            {% endfor %}
        ],
        datasets:[{
            data:[
                {% for r in by_cat %}
                {{ r.total_qty }},
                {% endfor %}
            ],
            backgroundColor:[
                '#FF6384',
                '#36A2EB',
                '#FFCE56',
                '#4BC0C0',
                '#9966FF',
                '#FF9F40',
                '#8BC34A',
                '#E91E63',
                '#795548',
                '#607D8B'
            ],
            borderColor:'#fff',
            borderWidth:2
        }]
    },
    options:{
        responsive:true,
        plugins:{
            legend:{
                position:'right'
            }
        }
    }
});

// Sku
new Chart(document.getElementById('skuChart'),{
    type:'bar',
    data:{
        labels:[
            {% for r in top_sku %}
            "{{ r.name }}",
            {% endfor %}
        ],
        datasets:[{
            label:'Revenue',
            data:[
                {% for r in top_sku %}
                {{ r.revenue }},
                {% endfor %}
            ],
            backgroundColor: 'rgb(255 170 7 / 0.7)',
            borderColor: 'rgb(182 72 3)',
            borderWidth: 2
        }]
    },
    options:{
        indexAxis:'y'
    }
});

// Low Stock
new Chart(document.getElementById('stockChart'),{
    type:'bar',
    data:{
        labels:[
            {% for p in low_stock %}
            "{{ p.name }}",
            {% endfor %}
        ],
        datasets:[{
            label:'Quantity',
            data:[
                {% for p in low_stock %}
                {{ p.quantity }},
                {% endfor %}
            ],
            backgroundColor: 'rgb(190 0 225 / 0.7)',
            borderColor: 'rgb(61 0 122)',
            borderWidth: 2
        }]
    }
});
</script>